runtime: php
env: flex

runtime_config:
  document_root: public

env_variables:
  # Put production environment variables here.
  SESSION_DRIVER: cookie
  APP_LOG: errorlog
  APP_ENV: local
  APP_NAME: Socialride
  APP_KEY:
  APP_URL:
  # aws
  DB_HOST:
  DB_DATABASE:
  DB_USERNAME:
  DB_PASSWORD:
  # facebook auth
  FACEBOOK_APP_ID:
  FACEBOOK_APP_SECRET:
  FACEBOOK_REDIRECT:
  # mailtrap auth
  MAIL_DRIVER: smtp
  MAIL_HOST: smtp.mailtrap.io
  MAIL_PORT: 2525
  MAIL_USERNAME:
  MAIL_PASSWORD: