runtime: php
env: flex

runtime_config:
  document_root: public

env_variables:
  # Put production environment variables here.
  APP_LOG: errorlog
  APP_KEY:
  SESSION_DRIVER: cookie
  # aws
  DB_HOST:
  DB_DATABASE:
  DB_USERNAME:
  DB_PASSWORD: