// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/scss/font-awesome.scss";

// Theme
@import 'map';
@import 'passenger';

main.content-center {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/images/background.jpg');
}

.label-socialride {
    text-transform: uppercase;
    font-size: 11px;
    @extend .text-muted;
}

.rmit-logo {
    background: url('/images/rmit_logo.svg');
    width: 125px;
    height: 100%;
    position: absolute;
    top: 0;
    margin: 20px;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar, .navbar-nav, .nav-item {
    height: 50px;
}

.nav-link {
    @extend .pr-3;
    @extend .pl-3;
    display: flex;
    align-items: center;
    height: 100%;
    &.frozen {
        background-color: darken($red, 15%);
    }
}