// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

main.content-center {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}